<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Finanzas personales</title>
</head>
<body>
    <!--INICIO ENCABEZADO-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Finanzas Personales</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/formulario">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/listar">Administrador</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gastos">Gastos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--FIN ENCABEZADO-->
    <!--INICIO CONTENIDO-->
    <h3>Reistro Gastos</h3>
    <br/>
      <div class="container">
        <div class="card">
            <div class="card-body">
              <form action="/guardarGastos" method="post">
                <label >Tipo de gasto</label>
                <select class="form-select" aria-label="Default select example" name="tipo">
                  <option selected>Seleccione una opción</option>
                  <option value="Transporte">Transporte</option>
                  <option value="Alimentación">Alimentación</option>
                  <option value="Servicio energía eléctrica">Servicio energía eléctrica</option>
                  <option value="Servicio acueducto y alcantarillado">Servicio acueducto y alcantarillado</option>
                  <option value="Servicio gas">Servicio gas</option>
                  <option value="Misceláneos">Misceláneos</option>
                </select>
                <br/>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Valor</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="valor">
                </div>
                <div class="card text-dark bg-light">
                  <div class="card-body">
                    <div class="container">
                      <label for="start">Fecha:</label>
                      <input type="date" id="start" name="fecha" value="2024-01-22" min="1970-01-01" max="2050-12-31" />
                    </div>
                  </div>
                </div>
                <br/>
                <div class="mb-3 ">
                  <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descripcion"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
        </div>
      <br/>
      </div>
    <!--FIN CONTENIDO-->
    <!--INICIO FOOTER-->
    <div class="card text-center bg-dark text-white">
        <div class="card-body">
          <p>Corporación Universitaria Minuto de Dios</p>
          <p>Fundamento de programación WEB</p>
          <p>William Suárez Ortiz id: 830085</p>
        </div>
    </div>
    <!--FIN FOOTER-->

</body>
</html>