<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Finanzas personales</title>
</head>
<body>
    <!--INICIO ENCABEZADO-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Finanzas Personales</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/formulario">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/listar">Administrador</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gastos">Gastos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--FIN ENCABEZADO-->
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <img src="../finanzas.jpeg" class="img-fluid" alt="...">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Finanzas personales</h5>
                              <p class="card-text">La organización de las finanzas personales es una tarea que requiere tiempo, metodología y paciencia, dado que estamos obligados a seguir unos pasos sistemáticos, si realmente queremos tener una economía doméstica y familiar libre de sobresaltos.</p>
                              <p>Nuestra vida no es monótona y todos tenemos unas metas, a realizar a corto, medio o largo plazo. Para planificar adecuadamente nuestras finanzas personales en el tiempo debemos proceder a fijarnos una serie de objetivos. Dentro de estos objetivos podemos enumerar por ejemplo:
                                <ol>
                                    <li>Eliminar todas las deudas de nuestro balance actual.</li>
                                    <li>Ahorrar para cambiar de vivienda.</li>
                                    <li>Mejorar nuestra economía doméstica para darnos unas vacaciones.</li>
                                    <li>Preparar los estudios y educación de nuestros hijos.</li>
                                </ol>
                              </p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
      </div>
    <!--INICIO FOOTER-->
    <div class="card text-center bg-dark text-white">
        <div class="card-body">
          <p>Corporación Universitaria Minuto de Dios</p>
          <p>Fundamento de programación WEB</p>
          <p>William Suárez Ortiz id: 830085</p>
        </div>
    </div>
    <!--FIN FOOTER-->
</body>
</html>